.counter{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: #ef4444;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #ef4444;
    border-radius: 15px;
    margin-bottom: 15px;
}